<div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">İl Ekle</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form [formGroup]='form' (ngSubmit)='onSubmit()'>
      <div class="card-body">
        <div class="form-group">
          <label>İl Adı</label>
          <input type="text" class="form-control" placeholder="İl Adı giriniz." formControlName="Ad">
        </div>
        <div class="form-group">
          <label>Plaka</label>
          <input type="text" class="form-control"  placeholder="Plaka giriniz." formControlName="Plaka">
        </div>
      </div>
      <!-- /.card-body -->

      <div class="card-footer">
        <button type="submit" class="btn btn-primary">KAYDET</button>
      </div>
    </form>
  </div>