<div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">İl ekle</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form [formGroup]='form' (ngSubmit)='onSubmit()'>
      <div class="card-body">
        <div class="form-group">
          <label>İl Adı</label>
          <input type="email" class="form-control" placeholder="İl adı gir." formControlName="Ad">
        </div>
        <div class="form-group">
          <label>ID</label>
          <input type="email" class="form-control" placeholder="id gir." formControlName="ID">
        </div>
        <div class="form-group">
          <label>PLaka</label>
          <input type="password" class="form-control"  placeholder="plaka giriniz." formControlName="Plaka">
        </div>
      </div>
      <!-- /.card-body -->

      <div class="card-footer">
        <button type="submit" class="btn btn-primary">ekle</button>
      </div>
    </form>
  </div>