<div class="row">
    <div class="col-md-12">
      <div class="card card-primary card-outline">
        <div class="card-header">
          <h3 class="card-title">Mahalle Listele Ekranı</h3>
        </div>
        <div class="card-body">
          <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
              <div class="col-sm-12">
                <div
                  id="example1_wrapper"
                  class="dataTables_wrapper dt-bootstrap4 no-footer"
                >
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="row">
                        <div class="col-lg-6 col-md-4 col-sm-4">
                          <div class="row">
                            <div class="col-lg-3 col-md-8 col-sm-12">
                              <a
                                routerlink="/mahalleekle"
                                class="btn btn-outline-primary btn-block"
                                href="/mahalleekle"
                                ><i class="fa fa-plus"></i> &nbsp; Mahalle
                                Ekle</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr >
                      <table
                        datatable
                        [dtOptions]="dtOptions"
                        [dtTrigger]="dtTrigger"
                        class="table table-bordered table-striped dataTable dtr-inline no-footer"
                      >
                        <thead>
                          <tr>
                            <th>Mahalle Adı</th>
                            <th>İlçe Adı</th>
                            <th>İl Adı</th>
                            <th style="width: 95px;" >İşlemler</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let mahalle of mahalleler">
                            <td>{{ mahalle.Ad }}</td>
                            <td>{{ mahalle.IlceId }}</td>
                            <td>{{ mahalle.IlId }}</td>
                            <td>
                              <a
                                class="btn btn-primary btn-xs"
                                routerLink="/mahalledetay/{{
                                  mahalle.Id
                                }}"
                                style="width: 44px;"
                                ><span style="color: white"
                                  ><i class="fa fa-search"></i></span
                              ></a>
                              <button
                              class="btn btn-danger btn-xs"
                              style="width: 44px; margin-left: 6px;"
                              (click)="Sil(mahalle.Id)"
                              ><span style="color: white"
                                ><i class="fa fa-trash"></i></span
                            ></button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>