<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">Kullanıcı Ekle Ekranı</h3>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="card-body">
      <div class="form-group">
        <label>Ad</label>
        <input
          type="text"
          class="form-control"
          placeholder="Kullanıcı Adı Giriniz."
          formControlName="Ad"
          pattern="[a-zA-Z-]+"
        />
      </div>
      <div class="form-group">
        <label>Soyad</label>
        <input
          type="text"
          class="form-control"
          placeholder="Kullanıcı Soyadı Giriniz."
          formControlName="Soyad"
          pattern="[a-zA-Z-]+"
        />
      </div>
      <div class="form-group">
        <label>E-mail</label>
        <input
          type="email"
          class="form-control"
          placeholder="E-mail Giriniz."
          formControlName="Email"
          required autofocus
          [class]="form.get('Email')!.invalid ? 'is-invalid' : 'is-valid'"
        />
      </div>
      <div class="form-group">
        <label>Şifre</label>
        <input
          type="text"
          class="form-control"
          placeholder="Şifre Giriniz."
          formControlName="Sifre"
          [class]="form.get('Sifre')!.invalid ? 'is-invalid' : 'is-valid'"
        />
      </div>
      <div class="form-group">
        <label>Yetki Tipi</label>
        <select
          formControlName="Yetki"
          class="custom-select form-control"
          [class]="form.get('Yetki')!.invalid ? 'is-invalid' : 'is-valid'"
        >
          <option *ngFor="let yt of yetkiTipi" value="{{ yt.yetkiKod }}">
            {{ yt.yetkiAd }}
          </option>
        </select>
      </div>
    </div>

    <div class="card-footer">
      <div class="row">
        <div class="col-md-6">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="form.invalid"
          >
            <i class="fas fa-save"></i> &nbsp; KAYDET
          </button>
          <button
            type="reset"
            class="btn btn-default"
            style="margin-left: 16px"
          >
            <i class="fas fa-trash-alt"></i> &nbsp; Temizle
          </button>
        </div>
        <div class="col-md-6" style="text-align: right">
          <a
            type="button"
            class="btn btn-danger"
            style="margin-left: 16px"
            href="/kullanicilistele"
            ><i class="fas fa-arrow-left"></i> &nbsp; Geri Dön
          </a>
        </div>
      </div>
    </div>
  </form>
</div>
